<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Ponto Digital</title>
    <link rel="icon" type="imagem/png" href="/imagens/logo.png"  />
    <link href="https://fonts.googleapis.com/css?family=Londrina+Solid:900%7COpen+Sans" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet" type="text/css">
</head>

<body class="flex-container">
        
        @RenderBody()

      <footer>
        <div class="foters">

            <img class="insta" src="~/imagens/insta.jpg" alt="">
            <img class="google" src="~/imagens/google.jpeg" alt="">
            <img class="face" src="~/imagens/facebook.png" alt="" width="400px" height="400px">
        </div>
        <div class="foters">

            <h2>O futuro a Ponto Digital
                <br>
                Pertence</h2>
        </div>
    </footer>
    </body>
</html>