*{
    margin: 0;
    padding: 0;
}
html{
  height: 100%;
}
body{
    font-family: 'Open Sans Condensed', sans-serif;
    background: white;
    background-color: #078ec3;
}
.nav-bar {
    width: 100%;
}

.nav-menu {
    display: none;
  }
  nav.nav-bar ul {
    list-style-type: none;
  }
  .nav-list {
    margin: 0;
    width: 100%;
    padding: 0;
    display: flex;
    background-color: #000;
    justify-content: space-between;

  }
 
  
  /* .nav-list li {
   float: left;
    width:12.5%;
  } */
  .nav-list li a {
    display: block;
    color: #fff;
    padding: 20px 20px;
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
  
  }

  h1 {
    color: #005eb8;
    text-shadow: -2px -2px 0 #f3a720,
                  2px -2px 0 #f3a720,
                 -2px  2px 0 #f3a720,
                  2px  2px 0 #f3a720;  
    text-align: center; 
    font-size: 4em;
    
  }
   hgroup h2 {
     color: #f3a720;
     text-align: center;

  }
  h3 {
    color: #4137a8;
    text-shadow: -1px -1px 0 #f3a720,
                  1px -1px 0 #f3a720,
                 -1px  1px 0 #f3a720,
                 1px  1px 0 #f3a720; 
      text-align: right;
      margin: 2em 2em;
      font-size: 1.9em;
  }
  hgroup  {
    text-align: center;
    
   
  }
header {
  background-image: url(../imagens/fundo_banner.jpg);
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-position:center;
  
}

hr{
  border-color: #fff; 

 }
 main h2{
   color: #fff;
 }
 .textinho > p {
   font-size: 1.5em;
 }
 .textinho2 > p {
  font-size: 1.5em;
 }
 .textinho3 > p{
  font-size: 1.5em;
 }
 .textinho4 > p{
  font-size: 1.5em;
 }
 .textinho5 > p {
  font-size: 1.5em;
 }
 .textinho6 > p{
   font-size: 1.5em;
 }
 .textinho {
  background-color: #fff;
   font-size: 0.9em;
   color: #000;
   height: 15em;
   width: 10%;
   margin: 2em 2em;
   text-align: center;
  border: 0.5em solid #790f77;
 }
 .textinho2  {
  background-color: #fff;
   font-size: 0.9em;
   color: #000;
   height: 15em;
   width: 10%;
   margin: 2em 2em;
   text-align: center;
   border: 0.5em solid #790f77;
 }
 .textinho3 {
  background-color: #fff;
  color: #000;
  height: 15em;
  width: 10%;
  margin: 2em 2em;
  text-align: center;
  font-size: 0.9em;
  border: 0.5em solid #790f77;
 }
.textinho4 {
  background-color: #fff;
  color: #000;
  height: 15em;
  width: 10%;
  margin: 9em 2em ;
  font-size: 0.9em;
  text-align: center;
  border: 0.5em solid #790f77;
}
.textinho5 {
  background-color: #fff;
  color: #000;
  height: 15em;
  width: 10%;
  margin: 9em 2em ;
  font-size: 0.9em;
  text-align: center;
  border: 0.5em solid #790f77;
}
.textinho6{
  background-color: #fff;
  color: #000;
  height: 15em;
  width: 10%;
  margin: 9em 2em  ;
  font-size: 0.9em;
  text-align: center;
  border: 0.5em solid #790f77;
}
.equipe {
  color: #fff;
  font-size: 1.9em;
  margin: 2em 3em;
}
.fu {
  text-align: right;
}

.fotenha {
  margin: 2em 0;
  border: 0.2em solid #790f77;
  height: 10em;
  width: 19em;
}
.fotenha2 {
  margin: 2em 0;
  border: 0.2em solid #790f77;
  height: 10em;
  width: 19em;
}
.divi{
  display: flex;
  justify-content: space-around;
 
}
.dive{
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
}
.carlos{
  padding: 1.3em;
  font-size: 1.5em;
}
.fundadores {
  color: #fff;
  font-size: 1.9em;
  margin: 3em 31em;
  
}

.textinhos{
  display: flex;
  justify-content: space-between;
  margin: 4em 2em;

}

.textinhos2 {
  display: flex;
  justify-content: space-between;
}


.criadores {
  padding: 2em;
  font-size: 1.5em;
  display: flex;
  margin: 0 -2em;
}
.loc {
  color: #fff;
  font-size: 1.9em;
  margin: 2em 3em;
}
.fot{
  margin: 2em 0;
  border: 0.2em solid #790f77;
  height: 12em;
  width: 17em;
}

.Localizaçao {
  display: flex;
  justify-content: space-around;
}

.textloc {
    padding: 2em;
    font-size: 1.5em;
    margin: 0 2em ;
  
}
.planos {
  color: #fff;
  font-size: 2em;
  margin: 1.5em 3em;
}
.planu6{
  background-image: url(../imagens/planos.png);
  background-size: 22em;
  margin: 2em auto ;
  text-align: center;
  background-color: #fff;
  width: 22em;
  height: 18em;
  
}
.planu6 > h2 {
  margin: 1em 0;
  font-size: 2em;
 
}
.planu6 > p {
  font-size: 2em;
}
.planu > h2 {
  
  font-size: 1.5em;
}
.planu > p {
  font-size: 1.8em;
}



.planus{
  display:flex;
  margin: 2em 3em;
  
}
.sac2 {
  font-size: 1.5em;
}

#contato {
  color: #fff;
  font-size: 2em;
  margin: 1.5em 3em;
  text-align: center;
}
.cont {
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 1.6em;
  margin-top: 1em;
  
}
.cont1{
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 1.6em;
  margin-top: 1em;
}
.cont2{
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 1.6em;
  margin-top: 1em;
}
form {
  width: 20em;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  margin: 2em 3em;
}
form div + div {
  margin-top: 1em;
}
label {
  display: inline-block;
  width: 120px;
  text-align: right;
}
input, textarea {
  font: 1em sans-serif;
  width: 300px;
  height: 1em;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
}  

textarea {
  vertical-align: top;
  height: 7em;
  resize: vertical;
}
.button {
  padding-left: 270px; 
}
button {
  margin-left: .8em;
}
.sac{
  color: #fff;
  font-size: 2em;
  margin: 1.5em 3em;
}
.ima2 {
  width: 30em;
  height: 20em;
  margin: 8em 2em;
}
.img{
  display: flex;
} 
.ima3 {
  width: 30em;
  height: 20em;
  margin: 8em 2em;
}

.coment{
  color: #fff;
  font-size: 1.9em;
  margin: 2em 3em;
}
.com {
  background-color: #fff;
  width: 50em;
  height: 40em;
  margin: 2em 9em;
}
.gi {
  text-align: center;
  font-size: 1.5em;
  color: #CCC;
  background-color: #000;
}
.insta {
  border-radius: 3000px;
  border: 5px solid #000;
  width: 6em;
  height: 6em;
  
}
.face {
  background-color: #fff;
  border-radius: 3000px;
  border: 5px solid #000;
  width: 6em;
  height: 6em;
}
.google {
  border-radius: 3000px;
  border: 5px solid #000;
  width: 6em;
  height: 6em;
}
footer {
  background-color: #000;
 padding-left: 700px;
 
}
footer h2 {
  text-align: center;
  color: #f3a720;
  
  font-size: 2em;
  
}
.foters{
  display: flex;
  justify-content: left;
}
#quemsomos{
  background-image: url(../imagens/fundinho3.jpeg);
  background-size: cover;
  
}

.planu{
  margin: 5em 5em;
  background-image: url(../imagens/planos.png);
  background-size: 18.3em;
  margin: 2em 5em ;
  text-align: center;
  background-color: #fff;
  width: 19em;
  height: 15em;

}
/*@media screen and (max-width: 480px) {
  .nav-container, .container {
    background:#4f6f8f;
  }
  .nav-menu{
    color: #fff;
    float: left;
    display: block;
    padding: 10px 10px;
    cursor: pointer;
  }
  .nav-list{
    float: left; 
    width: 100%;
    height: 0;
  }
  .nav-open {
    height:auto
    }
    .nav-list li {
        width:100%
    }
    .nav-list li a {
        text-align: left;
    }
    .nav-list li a:hover {
        padding-left: 36%;
        padding-top: 30px;
    }
  }
    @media screen and (min-width: 481px) and (max-width: 768px) {
        .nav-container,.container {
          margin: 8% auto;
        }
        .nav-list li {
          float: left;
          width: 50%;
        }
        .nav-list li a:hover{
          padding-right: 40%;
          padding-top: 30px ;
        }
      }*/



