@{
    Layout = "_Layout";
}
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/style-login.css" rel="stylesheet" type="text/css">
</head>

<body>
    <Header>
        @{
            Html.RenderPartial("_HeaderNavBar");
        }
        <section class="container">
            <h2>Login</h2>
               <form action='@Url.Action("Login", "Cliente")' method="POST">     
               <input type="text" name="email" placeholder="E-mail" id="email" required>
               <input type="password" name="senha" id="senha" placeholder="Senha" required>
               
               <input type="submit" value="Confirmar" id="botao">
           </form>
         </section>
    </Header>
   
</body>
