@model Ponto_Digital.ViewModel.ComentariosViewModel
@{
    Layout = "_Layout";
}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <title>Ponto Digital</title>
</head>
<header>
    @{
        Html.RenderPartial("_HeaderNavBar");
    }

        <hgroup>
            <h3>Agora Vai!</h3>
            <img src="imagens/logo.png" alt="logo" height="260" width="260">
            <h1> PONTO DIGITAL</h1>
            <h2>O futuro a Ponto Digital
                <br>
                Pertence</h2>

        </hgroup>
    
</header>
<body>
<section id="principal">

        <div class="textinhos">


            <section class="textinho">
                <p>

                    <br>
                    Uma
                    <br>
                    empresa
                    <br> fundada em
                    <br> 2012, que é
                    <br>
                    focada em
                    <br>
                    Softwares.
                </p>

            </section>
            <section class="textinho2">
                <p>

                    É
                    <br>
                    considerada
                    <br>
                    um sistema
                    <br>
                    de coontrole
                    <br>
                    para
                    <br>
                    funcionários
                    <br>
                    no formato
                    <br>
                    Home Office.
                </p>
            </section>
            <section class="textinho3">
                <p>
                    <br>
                    É uma
                    <br>
                    forma de
                    <br>
                    manusear
                    <br>
                    sua
                    <br>
                    empresa de
                    <br>
                    uma forma
                    <br>
                    mais facil.

                </p>

            </section>
        </div>
        <div class="textinhos">
            <section class="textinho4">
                <p>

                    <br>
                    Fundado
                    <br>
                    por duas
                    <br>
                    pessoas
                    <br>
                    sendo eles
                    <br>
                    Carlos Almeida,
                    <br>
                    Cesar Felipe.

                </p>
            </section>
            <section class="textinho5">
                <p>
                    <br>
                    O Ponto Digital
                    <br>
                    tem as
                    <br>
                    informações onlines, com o desenvolvimento mais claro e objetivo
                </p>
            </section>
            <section class="textinho6">
                <p>
                    OI LUCAS CORNOS
                </p>
            </section>
        </div>
    </section>
    <section id="quemsomos">
    <hr>

        <section class="equipe">
            <h2>Equipe</h2>
            
            <div class="divi">
                <img class="fotenha" src="imagens/equipe.png" alt="equipe reunida">

                <p class="carlos">
                    Uma equipe baseada em pessoas exemplares e compremetidas com seu trabalho, atingindo sempre suas
                    metas.
                    Com um funcionamento simples, com baixo custo, podendo acompanhar a evolulão da sua equipe.
                    <br>

                </p>
            </div>
        </section>
        <section class="equipe">
            <h2 class="fu">Fundadores</h2>
            <div class="dive">
                <img class="fotenha2" src="imagens/fundadores.png" alt="fundadores">
                <p class="criadores">
                    Criadores do Ponto Digital que deram seu suor para criar uma plataforma que funcionasse a favor de
                    empresas que precisam de um controle mais tecnologico.
                </p>
            </div>
        </section>
    <hr>
    </section>
    <section id="localizaçao">

        <section class="loc">
            <h2>Localização</h2>
            <div class="Localizaçao">
                <img class="fot" src="imagens/localizaçao (2).png" alt="localização">

                <p class="textloc">
                    Uma sede na paulista aonde é desenvolvido todos os projetos e aonde a mágica acontece, um lugar
                    cheio
                    de novas descobertas.
                </p>
            </div>
        </section>
        <section id="local">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.1419642480046!2d-46.65655808502229!3d-23.563344284681893!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59c8ece141b5%3A0x3a5cbff42578ef1a!2sAv.+Paulista%2C+1318+-+Bela+Vista%2C+S%C3%A3o+Paulo+-+SP%2C+01310-100!5e0!3m2!1spt-BR!2sbr!4v1552498344997"
                width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </section>
    </section>
    <section id="pedidos">
    <hr>

        <div class="planos">

            <h2>Planos e Pacotes</h2>
        </div>
        <section class="planus1">

            <div class="planu6">

                <h2>PLANO GRÁTIS </h2>
                <p ahref="#">-Empresas podendo gerenciar até 1 funcionoário.
                    <br>
                    -Retorno em até 48hrs.
                </p>
            </div>
        </section>
        <section class="planus">
            <div class="planu">
                <h2>Plano 1</h2>
                <p> R$29,99 por mês.
                    <br>
                    -Empresas podendo gerenciar até 5 funcionários.
                    <br>
                    - Retorno em até 24hs.

                </p>
            </div>
            <div class="planu">
                <h2>Plano 2</h2>
                <p>
                    R$149,99 por mês.
                    <br>
                    -Empresas podendo gerenciar até 50 funcionários.
                    <br>
                    - Retorno em até 12hs.
                </p>
            </div>
            <div class="planu">
                <h2>Plano 3</h2>
                <p>
                    R$299,90 por mês.
                    <br>
                    -Empresas podendo gerenciar até 500 funcionários.
                    <br>
                    - Retorno em até 2hs.
                </p>
            </div>
            <div class="planu">
                <h2>Plano 4</h2>
                <p>
                    A definir po mês.
                    <br>
                    -Empresas podendo gerenciar + 500 funcionários.
                    <br>
                    - Retorno em até 1hs.
                </p>
            </div>
        </section>
    </section>
    <section class="contatos">

    <section id="contato">
        <h2>Formas de Contato</h2>
    </section>
    <div class="cont">
        <p>Agoravai@gmail.com</p>
    </div>
    <div class="cont1">
        <p>(11) 2754-9823</p>
    </div>
    <div class="cont2">
        <p> Av. Paulista, 1318 - Bela Vista </p>
    </div>
    </section>
    <section id="sacblog">
    <hr>
        <div class="sac">
            <h2>Depoimentos</h2>
        </div>
        <section class="img">

                <p>Depoimentos:</p>
                
             
                
            <div class="ima">

                <img class="ima2" src="imagens/depoi.jpg" alt="comentarios da apple">]
                <img class="ima3" src="imagens/depoimento2.jpg" alt="comentarios da microsoft">'  \Z'
            </div>
        </section>
    </section>
    <hr>
    <section class="comentarios">
        <div class="coment">

            <h2>Comentários</h2>
        </div>
        <div class="com">
            <img src="imagens/" alt="">
            <p class="gi">Giovanna Rocha Barros </p>
        </div>
    </section>
    <hr>
</body>